.grid{
	width: 100%;
	max-width: 960px;
	margin: 20px auto;
}
/* -- Heading -- */
.grid h3{
	font-family: 'Ubuntu', serif;
	font-size: 250%;
	color: #F1574C;
	margin: 20px 0px;
}
.grid p{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 10px;
}
.grid h2{
	font-family: 'Ubuntu', serif;
	font-size: 200%;
	margin: 20px 0px;
	border-left: 2px solid #F1574C;
	padding-left: 10px;
}
.grid ul{
	list-style-image: url('../img/list-style-img.png');
	list-style-position: inside;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.grid ul li{
	line-height: 1.5;
}