/* ---- Content Wrapper ---- */
#content-wrapper{
	width: 100%;
}
/* ---- Grid ---- */
.grid{
	width: 100%;
	max-width: 1280px;
	margin: 20px auto;
}
.grid-item{
	margin: 10px;
	width: calc(33.33% - 20px);
	overflow: hidden;
	height: 300px;
	background-size: cover;
	background-position: center;
	-webkit-transition: background-position 2s ease;
	transition: background-position 2s ease;
}
.grid-item:hover{
	background-position: right center;
	-webkit-transition: background-position 5s ease-out;
	transition: background-position 5s ease-out;
}
/* -- Heading -- */
.grid-item h3{
	font-family: 'Vollkorn', serif;
	font-size: 250%;
	font-weight: bold;	
	color: white;
	margin: 10px;
	margin-top: 20px;		
}
/* -- Options -- */
.grid-item-options{
	margin: 10px;
	opacity: 0;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}
.grid-item:hover .grid-item-options{
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.grid-item-options ul{
	list-style: none;
}
.grid-item-options ul li{
	display: inline-block;
}
.grid-item-options ul li a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 0 10px;
}

/* ---- Media Query ---- */
@media only screen and (max-width: 960px) {
    .grid-item {
        width: calc(50% - 20px);
    }
}
@media all and (max-width: 768px) {
	/* ---- Content Wrapper ---- */
	/* ---- Grid ---- */
	.grid{
		width: 95%;
	}		
	.grid-item{
		width: calc(100% - 20px);
		overflow: hidden;
	}
	/* -- Heading -- */
	.grid-item h3{
		font-size: 200%;
		height: 275px;		
	}
}